image: $CONTAINER_TEST_IMAGE

variables:
  CONTAINER_TEST_IMAGE: gitlab-registry.mpcdf.mpg.de/$CI_PROJECT_PATH:$CI_BUILD_REF_NAME
  OMP_NUM_THREADS: 1

stages:
  - static_checks
  - build_docker
  - test
  - release
  - demo_runs

check_no_asserts:
  image: debian:stable-slim
  stage: static_checks
  before_script:
    - ls
  script:
    - if [ `grep -r "^[[:space:]]*assert[ (]" src demos | wc -l` -ne 0 ]; then echo "Have found assert statements. Don't use them! Use \`utilities.myassert\` instead." && exit 1; fi

build_docker_from_scratch:
  only:
    - schedules
  image: docker
  stage: build_docker
  before_script:
    - ls
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN gitlab-registry.mpcdf.mpg.de
    - docker build -t $CONTAINER_TEST_IMAGE --no-cache .
    - docker push $CONTAINER_TEST_IMAGE

build_docker_from_cache:
  except:
    - schedules
  image: docker
  stage: build_docker
  before_script:
    - ls
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN gitlab-registry.mpcdf.mpg.de
    - docker build -t $CONTAINER_TEST_IMAGE .
    - docker push $CONTAINER_TEST_IMAGE

test_serial:
  stage: test
  script:
    - pytest -q --cov=nifty8 test
    - >
      python3 -m coverage report --omit "*plot*" | tee coverage.txt
    - >
      grep TOTAL coverage.txt | awk '{ print "TOTAL: "$4; }'

test_mpi:
  stage: test
  variables:
    OMPI_MCA_btl_vader_single_copy_mechanism: none
  script:
    - mpiexec -n 2 --bind-to none pytest -q test/test_mpi

pages:
  stage: release
  before_script:
    - ls
  script:
    - python3 setup.py install --user -f
    - git clean -xfd docs/source
    - sh docs/generate.sh
    - mv docs/build docs/build_stable
    - git checkout NIFTy_8
    - python3 setup.py install --user -f
    - git clean -xfd docs/source
    - sh docs/generate.sh
    - mv docs/build docs/build_devel
    - mv docs/build_stable docs/build
    - mv docs/build_devel docs/build/nifty8
    - mv docs/build/ public/
  artifacts:
    paths:
    - public
  only:
  - NIFTy_7


before_script:
  - python3 setup.py install --user -f

run_demo0:
  stage: demo_runs
  script:
    - jupytext --to ipynb demos/0_wiener_filter.py
    - jupyter nbconvert --execute --ExecutePreprocessor.timeout=None --to html demos/0_wiener_filter.ipynb

run_demo1:
  stage: demo_runs
  script:
    - jupytext --to ipynb demos/1_inference_with_nifty.py
    - jupyter nbconvert --execute --ExecutePreprocessor.timeout=None --to html demos/1_inference_with_nifty.ipynb

run_demo2:
  stage: demo_runs
  script:
    - jupytext --to ipynb demos/2_jax_backend.py
    - jupyter nbconvert --execute --ExecutePreprocessor.timeout=None --to html demos/2_jax_backend.ipynb

run_demo1_mpi:
  stage: demo_runs
  script:
    - mpirun -np 2 --bind-to none python3 demos/1_inference_with_nifty.py
  artifacts:
    paths:
      - '1_inference_with_nifty_results'
      - '*.png'

run_getting_started_7:
  stage: demo_runs
  script:
    - python3 demos/getting_started_7_config_file.py demos/getting_started_7_config_file.cfg
  artifacts:
    paths:
      - '*.png'

run_getting_density:
  stage: demo_runs
  script:
    - python3 demos/more/density_estimation.py
  artifacts:
    paths:
      - '*.png'

run_model_comparison:
  stage: demo_runs
  script:
    - python3 demos/more/model_comparison.py
  artifacts:
    paths:
      - '*.png'

run_bernoulli:
  stage: demo_runs
  script:
    - python3 demos/more/bernoulli_map.py
  artifacts:
    paths:
      - '*.png'

run_curve_fitting:
  stage: demo_runs
  script:
    - python3 demos/more/polynomial_fit.py
  artifacts:
    paths:
      - '*.png'

run_visual_vi:
  stage: demo_runs
  script:
    - python3 demos/more/variational_inference_visualized.py

run_meanfield:
  stage: demo_runs
  script:
    - python3 demos/more/parametric_variational_inference.py

run_demo_categorical_L1:
  stage: demo_runs
  script:
    - python3 demos/re/categorical_L1.py
  artifacts:
    paths:
      - '*.png'

run_demo_cf_w_known_spectrum:
  stage: demo_runs
  script:
    - python3 demos/re/correlated_field_w_known_spectrum.py
  artifacts:
    paths:
      - '*.png'

run_demo_cf_w_unknown_spectrum:
  stage: demo_runs
  script:
    - python3 demos/re/correlated_field_w_unknown_spectrum.py
  artifacts:
    paths:
      - '*.png'

run_demo_cf_w_unknown_factorizing_spectra:
  stage: demo_runs
  script:
    - python3 demos/re/correlated_field_w_unknown_factorizing_spectra.py
  artifacts:
    paths:
      - '*.png'

run_demo_nifty_to_jifty:
  stage: demo_runs
  script:
    - python3 demos/re/nifty_to_jifty.py
  artifacts:
    paths:
      - '*.png'

run_demo_banana:
  stage: demo_runs
  script:
    - python3 demos/re/banana.py
  artifacts:
    paths:
      - '*.png'

run_demo_banana_w_reg:
  stage: demo_runs
  script:
    - python3 demos/re/banana_w_reg.py
  artifacts:
    paths:
      - '*.png'
