image: $CONTAINER_TEST_IMAGE

variables:
  CONTAINER_TEST_IMAGE: gitlab-registry.mpcdf.mpg.de/$CI_PROJECT_PATH:$CI_COMMIT_REF_NAME
  MPLBACKEND: agg
  OMP_NUM_THREADS: 1

stages:
  - static_checks
  - build_docker
  - test
  - release
  - demo_runs

before_script:
  - python3 -m pip install --user --break-system-packages .

build_docker_from_scratch:
  only:
    - schedules
  image: docker
  stage: build_docker
  before_script:
    - ls
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN gitlab-registry.mpcdf.mpg.de
    - docker build -t $CONTAINER_TEST_IMAGE --no-cache .
    - docker push $CONTAINER_TEST_IMAGE

build_docker_from_cache:
  except:
    - schedules
  image: docker
  stage: build_docker
  before_script:
    - ls
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN gitlab-registry.mpcdf.mpg.de
    - docker build -t $CONTAINER_TEST_IMAGE .
    - docker push $CONTAINER_TEST_IMAGE

test_serial:
  stage: test
  script:
    - pytest -q --cov=nifty8 --ignore test/test_re/ test
    - pytest -n auto -q --cov=nifty8 --cov-append test/test_re/
    - >
      python3 -m coverage report --omit "*plot*" | tee coverage.txt
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

test_mpi:
  stage: test
  variables:
    OMPI_MCA_btl_vader_single_copy_mechanism: none
  script:
    - mpiexec -n 2 --bind-to none pytest -q test/test_mpi

pages:
  stage: release
  script:
    - git config --global --add safe.directory /builds/ift/nifty
    - git clean -xfd docs/source
    - sh docs/generate.sh
    - mv docs/build/ public/
  artifacts:
    paths:
    - public
  only:
  - NIFTy_8

run_ipynb0:
  stage: demo_runs
  script:
    - jupytext --to ipynb demos/old_nifty/getting_started_0.py
    - jupyter nbconvert --execute --ExecutePreprocessor.timeout=None --to html demos/old_nifty/getting_started_0.ipynb

run_ipynb1:
  stage: demo_runs
  script:
    - jupytext --to ipynb demos/old_nifty/getting_started_4_CorrelatedFields.py
    - jupyter nbconvert --execute --ExecutePreprocessor.timeout=None --to html demos/old_nifty/getting_started_4_CorrelatedFields.ipynb

run_getting_started_1:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/getting_started_1.py
  artifacts:
    paths:
      - '*.png'

run_getting_started_2:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/getting_started_2.py
  artifacts:
    paths:
      - 'getting_started_2_results'
      - '*.png'

run_getting_started_3:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/getting_started_3.py
  artifacts:
    paths:
      - 'getting_started_3_results'
      - '*.png'

run_getting_started_3_mpi:
  stage: demo_runs
  script:
    - mpirun -np 2 --bind-to none python3 demos/old_nifty/getting_started_3.py
  artifacts:
    paths:
      - 'getting_started_3_results'
      - '*.png'

run_getting_started_mf:
  stage: demo_runs
  script:
    - mpiexec -n 2 --bind-to none python3 demos/old_nifty/getting_started_5_mf.py
  artifacts:
    paths:
      - 'getting_started_mf_results'
      - '*.png'

run_getting_started_niftyre_intro:
  stage: demo_runs
  script:
    - python3 demos/0_intro.py
  artifacts:
    paths:
      - '*.png'

run_getting_started_niftyre_tomography:
  stage: demo_runs
  script:
    - python3 demos/1_tomography.py
  artifacts:
    paths:
      - '*.png'

run_getting_started_niftyre_nonlinear_regression:
  stage: demo_runs
  script:
    - python3 demos/a_nonlinear_regression.py
  artifacts:
    paths:
      - '*.png'

run_getting_started_niftyre_wiener_filter:
  stage: demo_runs
  script:
    - python3 demos/a_wiener_filter.py
  artifacts:
    paths:
      - '*.png'

run_getting_started_7:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/getting_started_7_config_file.py demos/old_nifty/getting_started_7_config_file.cfg
  artifacts:
    paths:
      - '*.png'

run_getting_density:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/density_estimation.py
  artifacts:
    paths:
      - '*.png'

run_model_comparison:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/model_comparison.py
  artifacts:
    paths:
      - '*.png'

run_bernoulli:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/bernoulli_map.py
  artifacts:
    paths:
      - '*.png'

run_curve_fitting:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/polynomial_fit.py
  artifacts:
    paths:
      - '*.png'

run_visual_vi:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/variational_inference_visualized.py

run_meanfield:
  stage: demo_runs
  script:
    - python3 demos/old_nifty/parametric_variational_inference.py
