image: ubuntu:latest

stages:
  - test
  - release

variables:
  DOCKER_DRIVER: overlay
  RELEASE_IMAGE_MASTER: iftmpa/nifty:dev
  RELEASE_IMAGE_TAGGED: iftmpa/nifty:$CI_BUILD_TAG

before_script:
  - apt-get update
  - chmod +x ci/*.sh
  - ci/install_basics.sh
  - pip install --upgrade -r ci/requirements.txt


test_min:
  stage: test
  script:
    - python setup.py build_ext --inplace
    - nosetests -vv

test_mpi:
  stage: test
  script:
    - ci/install_pyHealpix.sh
    - ci/install_mpi4py.sh
    - python setup.py build_ext --inplace
    - nosetests -vv

test_mpi_fftw:
  stage: test
  script:
    - ci/install_pyHealpix.sh
    - ci/install_mpi4py.sh
    - ci/install_pyfftw.sh
    - python setup.py build_ext --inplace
    - nosetests -vv

test_mpi_fftw_hdf5:
  stage: test
  script:
    - ci/install_pyHealpix.sh
    - ci/install_mpi4py.sh
    - ci/install_pyfftw.sh
    - ci/install_h5py.sh
    - python setup.py build_ext --inplace
    - mpiexec --allow-run-as-root -n 2 nosetests -vv
    - mpiexec --allow-run-as-root -n 5 nosetests -vv
    - nosetests -vv --with-coverage --cover-package=nifty --cover-branches
    - >
      coverage report | grep TOTAL | awk '{ print "TOTAL: "$6; }'

release_image_master:
  image: docker:latest
  stage: release
  before_script:
    - pwd
  services:
    - docker:dind
  script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD
    - docker build -t $RELEASE_IMAGE_MASTER .
    - docker push $RELEASE_IMAGE_MASTER
  only:
    - master

release_image_tagged:
  image: docker:latest
  stage: release
  before_script:
    - pwd
  services:
    - docker:dind
  script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD
    - docker build -t $RELEASE_IMAGE_TAGGED .
    - docker push $RELEASE_IMAGE_TAGGED
  only:
    - tags
