image: $CONTAINER_TEST_IMAGE

variables:
  CONTAINER_TEST_IMAGE: gitlab-registry.mpcdf.mpg.de/$CI_PROJECT_PATH:$CI_COMMIT_REF_NAME
  OMP_NUM_THREADS: 1

stages:
  - static_checks
  - build_docker
  - test
  - release
  - demo_runs

build_docker_from_scratch:
  only:
    - schedules
  image: docker
  stage: build_docker
  before_script:
    - ls
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN gitlab-registry.mpcdf.mpg.de
    - docker build -t $CONTAINER_TEST_IMAGE --no-cache .
    - docker push $CONTAINER_TEST_IMAGE

build_docker_from_cache:
  except:
    - schedules
  image: docker
  stage: build_docker
  before_script:
    - ls
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN gitlab-registry.mpcdf.mpg.de
    - docker build -t $CONTAINER_TEST_IMAGE .
    - docker push $CONTAINER_TEST_IMAGE

test_serial:
  stage: test
  script:
    - pytest -q --cov=nifty8 test
    - >
      python3 -m coverage report --omit "*plot*" | tee coverage.txt
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

test_mpi:
  stage: test
  variables:
    OMPI_MCA_btl_vader_single_copy_mechanism: none
  script:
    - mpiexec -n 2 --bind-to none pytest -q test/test_mpi

pages:
  stage: release
  before_script:
    - ls
  script:
    - python3 setup.py install --user -f
    - git config --global --add safe.directory /builds/ift/nifty
    - git clean -xfd docs/source
    - sh docs/generate.sh
    - mv docs/build docs/build_stable
    - git checkout NIFTy_7
    - python3 setup.py install --user -f
    - git clean -xfd docs/source
    - sh docs/generate.sh
    - mv docs/build docs/build_legacy
    - mv docs/build_stable docs/build
    - mv docs/build_legacy docs/build/nifty7
    - mv docs/build/ public/
  artifacts:
    paths:
    - public
  only:
  - NIFTy_8


before_script:
  - python3 setup.py install --user -f

run_ipynb0:
  stage: demo_runs
  script:
    - jupytext --to ipynb demos/getting_started_0.py
    - jupyter nbconvert --execute --ExecutePreprocessor.timeout=None --to html demos/getting_started_0.ipynb

run_ipynb1:
  stage: demo_runs
  script:
    - jupytext --to ipynb demos/getting_started_4_CorrelatedFields.py
    - jupyter nbconvert --execute --ExecutePreprocessor.timeout=None --to html demos/getting_started_4_CorrelatedFields.ipynb

run_getting_started_1:
  stage: demo_runs
  script:
    - python3 demos/getting_started_1.py
  artifacts:
    paths:
      - '*.png'

run_getting_started_2:
  stage: demo_runs
  script:
    - python3 demos/getting_started_2.py
  artifacts:
    paths:
      - 'getting_started_2_results'
      - '*.png'

run_getting_started_3:
  stage: demo_runs
  script:
    - python3 demos/getting_started_3.py
  artifacts:
    paths:
      - 'getting_started_3_results'
      - '*.png'

run_getting_started_3_mpi:
  stage: demo_runs
  script:
    - mpirun -np 2 --bind-to none python3 demos/getting_started_3.py
  artifacts:
    paths:
      - 'getting_started_3_results'
      - '*.png'

run_getting_started_mf:
  stage: demo_runs
  script:
    - mpiexec -n 2 --bind-to none python3 demos/getting_started_5_mf.py
  artifacts:
    paths:
      - 'getting_started_mf_results'
      - '*.png'

run_getting_started_nifty2jax:
  stage: demo_runs
  script:
    - python3 demos/nifty_re.py
  artifacts:
    paths:
      - '*.png'

run_getting_started_7:
  stage: demo_runs
  script:
    - python3 demos/getting_started_7_config_file.py demos/getting_started_7_config_file.cfg
  artifacts:
    paths:
      - '*.png'

run_getting_density:
  stage: demo_runs
  script:
    - python3 demos/more/density_estimation.py
  artifacts:
    paths:
      - '*.png'

run_model_comparison:
  stage: demo_runs
  script:
    - python3 demos/more/model_comparison.py
  artifacts:
    paths:
      - '*.png'

run_bernoulli:
  stage: demo_runs
  script:
    - python3 demos/more/bernoulli_map.py
  artifacts:
    paths:
      - '*.png'

run_curve_fitting:
  stage: demo_runs
  script:
    - python3 demos/more/polynomial_fit.py
  artifacts:
    paths:
      - '*.png'

run_visual_vi:
  stage: demo_runs
  script:
    - python3 demos/more/variational_inference_visualized.py

run_meanfield:
  stage: demo_runs
  script:
    - python3 demos/more/parametric_variational_inference.py
