numpy
scipy
cython
astropy
healpy
mpi4py
ipython==5.3.0
nose
nose-parameterized
git+https://gitlab.mpcdf.mpg.de/ift/mpi_dummy.git
git+https://gitlab.mpcdf.mpg.de/ift/keepers.git
git+https://gitlab.mpcdf.mpg.de/ift/D2O.git
